<form action="/test">
  <label for="article_title">
    Enter the article you'd like Shakespeare-ified!
  </label>
  <input id="title" name="article_title" text="text">
  <button>
    Go
  </button>
</form>
